/* General
----------------------------------------------------------------------------- */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: url('universe.png') fixed;
  padding: 20px 20px 0 20px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  background: yellow;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

h1, h2 {
  font-family: 'Changa One', 'Sans-serif';
  font-weight: 200;
}

ul {
  list-style-type: none;
  font-size: 18px;
  font-weight: normal;
}

/* Layout
----------------------------------------------------------------------------- */
#content, #footer {
  width: 920px;
  margin: auto;
  background: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.95);
}

.container {
  padding: 10px;
}

#content {
  padding: 0 20px 20px 20px;
}

#menu ul {
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 0;
}

#menu li {
  list-style: none;
  display: inline-block;
}

#menu li a {
  text-align: center;
  font-size: 22px;
  font-weight: 200;
}

#menu li a:after {
  content: ' | ';
}

#menu li:last-child a:after {
  content: '';
}

/* Bookmarks
----------------------------------------------------------------------------- */
.desc {
  color: #777;
  font-size: 14px;
}

.lang, .tag {
  color: #909090;
  font-weight: bold;
  font-size: 12px;
  padding: 3px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tag {
  background: #ddd;
}

.lang {
  background: #e5d2ff;
}

/* Footer
----------------------------------------------------------------------------- */
#footer {
  width: 820px;
  margin-top: 20px;
  text-align: center;
  border: none;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
  letter-spacing: -1px;
}

#footer .container {
  padding: 20px 0 20px 0;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer a {
  font-weight: bold;
}
