<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <id>http://gillesfabio.github.io/awesome-meteor/</id>
  <title>Awesome Meteor</title>
  <link href="{{ BASE_URL }}atom.xml" rel="self" type="application/atom+xml" />
  <link href="{{ BASE_URL }}" rel="alternate" type="text/html" />
  <updated>{{ date|date('c') }}</updated>
  {% for b in latestBookmarks %}
  <entry xml:lang="{% if b.lang %}{{ b.lang }}{% else %}en{% endif %}">
    <id>{{ b.url }}</id>
    <title>{{ b.title }}</title>
    <link rel="alternate" href="{{ b.url }}"/>
    <updated>{{ b.date }}</updated>
  </entry>
  {% endfor %}
</feed>
