{% extends "layout.html" %}

{% block content %}
  {% for title, links in bookmarks %}
  <h2>{{ title }}</h2>
  <ul>
    {% for link in links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
      {% if link.desc %}<span class="desc">({{ link.desc }})</span>{% endif %}
      {% if link.lang && link.lang !== 'en' %}<span class="lang">{{ link.lang }}</span>{% endif %}
      {% if link.tags %}
        {% for tag in link.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endblock %}
