<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meteor Bookmarks</title>
    <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ BASE_URL }}bundle.css">
  </head>
  <body>
    <a href="https://github.com/gillesfabio/meteor-bookmarks"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    <div id="content">
      <div class="container">
        <h1><a href="{{ BASE_URL }}">Meteor Bookmarks</a></h1>
        <nav id="menu">
          <ul>
            <li><a href="{{ BASE_URL}}">Home</a></li>
            <li><a href="{{ BASE_URL }}devshop/">Devshop</a></li>
          </ul>
        </nav>
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer id="footer">
      <div class="container">
        <ul>
          <li>
            Brought to you by <a href="http://github.com/gillesfabio">Gilles Fabio<a>,
            <a href="http://github.com/pascalgermain">Pascal Germain</a> and
            <a href="https://github.com/gillesfabio/meteor-bookmarks/graphs/contributors">smart contributors</a>.
          </li>
          <li>The background is the "Universe" <a href="https://www.meteor.com/">Meteor</a> background.</li>
          <li>Built with the power of <a href="http://www.metalsmith.io/">Metalsmith</a> and <a href="http://gulpjs.com/">gulp.js</a>.</li>
        </ul>
      </div>
  </body>
</html>
